//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('CeraPro-Regular', 'CeraPro', 'CeraPro-Regular',  normal, normal)
webfont('CeraPro-Medium', 'CeraPro', 'CeraPro-Medium',  normal, normal)
webfont('Gilroy-Regular', 'Gilroy', 'Gilroy-Regular',  normal, normal)
webfont('Gilroy-Bold', 'Gilroy', 'Gilroy-Bold',  normal, normal)
webfont('Gilroy-Medium', 'Gilroy', 'Gilroy-Medium',  normal, normal)



