{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-gutter page-inside page-404  color-bg decor-bg" id="home">
			

			<section class="sect-404 gutter-bottom">
				

				<div class="container">
					<div class="block-404 text-center">
						<img src="img/404.png" alt="404. Страница не найдена.">
						<h1 class="title">такой страницы у нас нет</h1>
						<p>Зато есть натяжные потолки по лучшим ценам в городе. Попробуйте перейти<br>на главную страницу или воспользуйтесь меню сайта</p>
						<a class="btn" href="index.html"><span data-text="Перейти на главную">Перейти на главную</span></a>
					</div>
				</div>
				<!-- //container -->

				

			</section>


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>