{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-gutter page-inside page-template" id="home">
			<section class="page-content gutter-include-form">
				<div class="container">
					<!-- Breadcrumbs -->
					<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">

						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"> 
								<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> 
									<a href="index.html" class="breadcrumbs__link" title="На главную"> 
										<span itemprop="name">Главная</span> 
									</a>
									<meta itemprop="position" content="1"> 
								</span>
							</li>
							<li class="breadcrumbs__item"> 
								<span class="breadcrumbs__link is-active"> 
									<span itemprop="name">цены</span>
									<meta itemprop="position" content="3"> 
								</span>
							</li>
						</ul>
					</nav>
					<!-- Breadcrumbs -->

					<header class="page-header bg" style="background-image: url('img/backgrounds/prices.jpg');">
						<h1 class="title">актуальные цены на все материалы</h1>
					</header>

					<article class="page-article">
						<div class="row align-vertical-start align-horisontal-between page-article__row row-nowrap">

							<div class="page-article-content">
								<div class="content">
									<h2>натяжные потолки компании “экополис”:<br>цены вас приятно удивят!</h2>
									<p>Определить точную стоимость потолка можно предварительно сделав замеры. Натяжные потолки цена которых зависит от площади определенного полотна, интересуют многих потребителей. Цена натяжного потолка варьируется в зависимости от формы выбранного потолка, комплектации, а также материала. Кроме того, натяжной потолок цена рассчитывается с учетом различных элементов, которые понадобится приобрести независимо от размера площади. Напомним, что профиль монтируется исключительно по периметру.</p>
									<p>Чтобы Вам было удобней ориентироваться в ценах, мы приводим приблизительную стоимость 1 м.кв. натяжного потолка 4-х угольной формы. Монтаж - включительно.</p>
									<p>Если Вы планируете установить натяжные потолки во всей квартире, у нас для Вас есть специальное предложение с хорошей скидкой. Вам <a href="page-promo.html">сюда</a>!</p>
									<h2>Натяжной потолок - купить элитный вариант</h2>
									<p>Классический натяжной потолок купить может каждый, поскольку цена такого варианта весьма доступна. Однако, при желании можно добавить различные дизайнерские элементы, воплотив любой творческий замысел. Ниже приведены дополнительные элементы и их стоимость:</p>
									<p>Цены актуальны на 01.01.2017 г. Текущий курс доллара США составляет 1USD – 25 грн. Так как валютная составляющая в стоимости натяжного потолка только пленка, то при росте курса валют общая стоимость в гривне немного растет, а в валюте немного снижается (профиль, вставка, монтажные работы и др. тарифицируются в гривне). Актуальную стоимость на сегодняшний день узнавайте у наших менеджеров по телефону или в on-line чате. Так же Вы можете пригласить к себе замерщика (вызов мастера бесплатно).</p>
								</div>

								<div class="request-block color-bg">
									<h2 class="request-block__title">запрос на просчет натяжного потолка</h2>
									<form class="form request-form">
										<!-- Hidden inputs -->
										<input type="hidden" name="project_name" value="">
										<input type="hidden" name="admin_email" value="email@email">
										<input type="hidden" name="page" value="Страница:">
										<input type="hidden" name="form_subject" value="Запрос на просчет">
										<!-- // Hidden inputs -->

										<div class="row align-horisontal-start row-gutters">
											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Выбор фактуры полотна</p>
													<div class="form-select__wrapper">
														<select name="фактура" class="form-select form-input--default">
															<option value="Белая матовая">Белая матовая</option>
															<option value="Цветная матовая">Цветная матовая</option>
															<option value="Цветная лаковая">Цветная лаковая</option>
															<option value="Сатин; Белая лаковая">Сатин; Белая лаковая</option>
															<option value="Металлик">Металлик</option>
															<option value="Цветная металлик">Цветная металлик</option>
															<option value="Перламутр">Перламутр</option>
														</select>
													</div>
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Площадь потолка, кв.м</p>
													<input type="number" min="0" class="form-input--default" name="Площадь потолка, кв.м">
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Периметр, м.п</p>
													<input type="number" min="0" class="form-input--default" name="Периметр, м.п">
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Количество углов, шт</p>
													<input type="number" min="0" class="form-input--default" name="Количество углов, шт">
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Криволинейность потолка, м.п</p>
													<input type="number" min="0" class="form-input--default" name="Криволинейность потолка, м.п">
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Светильники, шт</p>
													<input type="number" min="0" class="form-input--default" name="Светильники, шт">
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Люстры, шт</p>
													<input type="number" min="0" class="form-input--default" name="Люстры, шт">
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Окантовка потолка</p>
													<div class="form-select__wrapper">
														<select name="Окантовка потолка" class="form-select form-input--default">
															<option value="Под багет">Под багет</option>
															<option value="Заглушка белая">Заглушка белая</option>
															<option value="Заглушка черная">Заглушка черная</option>
															<option value="Заглушка крашеная в цв. потолка">Заглушка крашеная в цв. потолка</option>
														</select>
													</div>
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Трубы, шт</p>
													<input type="number" min="0" class="form-input--default" name="Трубы, шт">
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Ваше имя*</p>
													<input type="text" class="form-input--default js-required-input" name="имя">
													<span class="form-group__error--default">Это обязательное поле</span>
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Ваш телефон*</p>
													<input type="tel" class="form-input--default js-required-input" name="телефон">
													<span class="form-group__error--default">Это обязательное поле</span>
												</div>
											</div>
											<!-- //col -->

											<div class="col-w-50 col-gutters form-group__wrapper">
												<div class="form-group">
													<p class="form-group__label">Ваш E-mail*</p>
													<input type="email" class="form-input--default js-required-input" name="email">
													<span class="form-group__error--default">Это обязательное поле</span>
												</div>
											</div>
											<!-- //col -->
										</div>

										<p class="form__notice">Нажимая на кнопку, Вы соглашаетесь с <a href="page-content.html">Политикой конфиденциальности</a></p>

										<button class="btn" type="button"><span data-text="отправить запрос">отправить запрос</span></button>
									</form>
								</div>
							</div>

							<!-- Aside -->
							<aside class="aside text-right aside-page-links">
								{% include '../parts/components/aside/promo.html' %}
								{% include '../parts/components/aside/credit.html' %}
							</aside>
							<!-- //Aside -->

						</div>
					</article>
				</div>
				<!-- //container -->

			</section>




			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>