{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-gutter page-inside page-template">
			<section class="page-content gutter-include-form">
				<div class="container">
					<!-- Breadcrumbs -->
					<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">

						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"> 
								<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> 
									<a href="index.html" class="breadcrumbs__link" title="На главную"> 
										<span itemprop="name">Главная</span> 
									</a>
									<meta itemprop="position" content="1"> 
								</span>
							</li>
							<li class="breadcrumbs__item"> 
								<span class="breadcrumbs__link is-active"> 
									<span itemprop="name">кредит</span>
									<meta itemprop="position" content="3"> 
								</span>
							</li>
						</ul>
					</nav>
					<!-- Breadcrumbs -->

					<header class="page-header bg" style="background-image: url('img/backgrounds/creadit.jpg');">
						<h1 class="title">Натяжные потолки в кредит и рассрочку</h1>
					</header>

					<article class="page-article">
						<div class="row align-vertical-start align-horisontal-between page-article__row row-nowrap">

							<div class="page-article-content">
								<div class="content">
									<h2>Теперь Вам не нужно копить деньги - заказывайте<br>натяжные потолки в рассрочку!</h2>
									<p>Компания "Экополис" предлагает своим Клиентам выгодные условия покупки натяжного потолка:</p>
									<ol>
										<li>Вы можете приобрести натяжной потолок в кредит или в рассрочку быстро и удобно. Забудьте про первый взнос, проценты и справках о доходах!</li>
										<li><b>Вам не нужно посещать банк</b>. Рассрочку для владельцев кредитной карты ПриватБанка можно оформить как в нашем офисе, так и у Вас на объекте с помощью сертифицированного переносного платежного терминала.</li>
										<li><b>Мы устанавливаем Вам натяжные потолки сразу же после оформления заказа</b>, а Вы оплачиваете заказ на протяжении 6-12 месяцев, при этом не переплачивая лишних денег за проценты и комиссии! Компания «Экополис» сотрудничает c ПриватБанком и ОТП Банком – поэтому у вас есть возможность выбрать наиболее удобные для Вас условия!</li>
									</ol>
									<img src="img/credit.png" alt="">
									<h2>Натяжные потолки в РАССРОЧКУ без процентов и переплат</h2>
									<p>Натяжные потолки - Оплата частями, для владельцев кредитной карты ПриватБанка</p>
									<h2>Натяжные потолки в кредит</h2>
									<p>Кредит без справки о доходах от ОТП Банка</p>
									За более детальной информацией обращайтесь к менеджерам нашей компании по <a href="#">телефону</a> или же в <a href="#">on-line чат</a>.
								</div>
							</div>

							<!-- Aside -->
							<aside class="aside">
								<div class="aside-block">
									<p class="aside-block__title">облако тегов</p>
									<ul class="tags-list">
										<li><a href="#">натяжной потолок</a></li>
										<li><a href="#">звездное небо</a></li>
										<li><a href="#">потолки киев</a></li>
										<li><a href="#">необычные натяжные потолки</a></li>
									</ul>
								</div>

								<div class="aside-block">
									<h2 class="aside-block__title">другие статьи по теме</h2>

									<div class="aside-articles">
										<article class="aside-article">
											<h3 class="aside-article__title"><a href="page-article.html">Различные направления в оформлении потолков. Часть 1</a></h3>
											<p>Далеко-далеко за, словесными горами в стране, гласных и согласных живут рыбные тексты. Одна коварный, лучше. Текстами правилами по всей заголовок рот коварный семантика.</p>
										</article>

										<article class="aside-article">
											<h3 class="aside-article__title"><a href="page-article.html">Различные направления в оформлении потолков. Часть 1</a></h3>
											<p>Далеко-далеко за, словесными горами в стране, гласных и согласных живут рыбные тексты. Одна коварный, лучше. Текстами правилами по всей заголовок рот коварный семантика.</p>
										</article>

										<article class="aside-article">
											<h3 class="aside-article__title"><a href="page-article.html">Различные направления в оформлении потолков. Часть 1</a></h3>
											<p>Далеко-далеко за, словесными горами в стране, гласных и согласных живут рыбные тексты. Одна коварный, лучше. Текстами правилами по всей заголовок рот коварный семантика.</p>
										</article>
									</div>

									<a href="page-blog.html" class="btn"><span data-text="Все новости и статьи">Все новости и статьи</span></a>
								</div>
							</aside>
							<!-- //Aside -->

						</div>
					</article>
				</div>
				<!-- //container -->

			</section>




			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>