{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-gutter page-inside page-template">
			<section class="page-content gutter-include-form">
				<div class="container">
					<!-- Breadcrumbs -->
					<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">

						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"> 
								<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> 
									<a href="index.html" class="breadcrumbs__link" title="На главную"> 
										<span itemprop="name">Главная</span> 
									</a>
									<meta itemprop="position" content="1"> 
								</span>
							</li>
							<li class="breadcrumbs__item"> 
								<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> 
									<a href="page-blog.html" class="breadcrumbs__link"> 
										<span itemprop="name">Блог компании</span> 
									</a>
									<meta itemprop="position" content="2"> 
								</span>
							</li>
							<li class="breadcrumbs__item"> 
								<span class="breadcrumbs__link is-active"> 
									<span itemprop="name">Оригинальные фактуры натяжного потолка</span>
									<meta itemprop="position" content="3"> 
								</span>
							</li>
						</ul>
					</nav>
					<!-- Breadcrumbs -->

					<header class="page-header bg" style="background-image: url('img/backgrounds/page-header-bg.jpg');">
						<h1 class="title">Оригинальные фактуры натяжного потолка</h1>
					</header>

					<article class="page-article">
						<div class="row align-vertical-start align-horisontal-between page-article__row row-nowrap">

							<div class="page-article-content">
								<div class="content">
									<p><b>Многообразие различных вариантов полотна позволяет подобрать не только наиболее привлекательные фактуру и цветовую гамму, но и создать сложные конструкции, которые невероятно украсят помещение и придадут ему необычайный шарм.</b></p>
									<h2>разнообразие фактур</h2>
									<p>Сегодня натяжные потолки заслуженно признаются как один из наиболее удачных способов оформления интерьера жилья. Многообразие различных вариантов полотна позволяет подобрать не только наиболее привлекательные фактуру и цветовую гамму, но и создать сложные конструкции, которые невероятно украсят помещение и придадут ему необычайный шарм.</p>
									<p>Помимо эстетических преимуществ, использование сложных <a href="#">потолков имеет</a> и функциональное назначение - разделение помещения на отдельные зоны. Если вас интересуют натяжные потолки, Киев представляет возможность заказать профессиональный монтаж любого типа полотна (от фактуры до оттенка) в компании Экополис. </p>
									<img src="img/article.jpg" alt="">
									<h2>Виды натяжных потолков</h2>
									<p>Преимущество натяжного потолка в том, что даже простые конструкции можно оформить таким образом, что получится очень интересно и изысканно. Это достигается добавлением уровней, комбинированием полотен с различной фактурой и разными цветами. Однако есть возможность значительно усложнить конструкцию, что иногда используется для оформления отдельных помещений. К таким сложным потолкам относят:</p>
									<ul>
										<li>куполообразные;</li>
										<li>многоуровневые и трехмерные;</li>
										<li>"звездное небо";</li>
										<li>волнообразные;</li>
										<li>светящиеся.</li>
									</ul>
									<h3>Куполообразные и сводчатые натяжные потолки</h3>
									<p>Такие потолки выглядят наиболее изысканно. Сводчатые конструкции более сложные, поскольку требуют монтажа колонны посреди комнаты. Она является важным элементом крепления всего потолка. Несмотря на то, что обустройство такого натяжного потолка выльется в серьезные расходы, результат того стоит: интерьер будет выглядеть просто роскошно.</p>
									<ol>
										<li>Далеко-далеко за словесными горами, в стране, гласных и согласных живут рыбные тексты.</li>
										<li>Коварных рыбными первую злых ее единственное оксмокс рот по всей букв!</li>
										<li>Необходимыми она текста путь. Меня то, дал образ большого журчит?</li>
										<li>Осталось деревни вершину безорфографичный проектах, подзаголовок свою его предложения себя?</li>
										<li>Точках города грустный своего моей раз то страна знаках что!</li>
									</ol>
									<p>Куполообразный потолок несколько проще, поскольку не требует монтажа колонны. Но для него есть важное условие: помещение должно быть достаточно высоким (не меньше 3 м). Лучше всего для таких потолков использовать полотна с фотопечатью. Для изображения можно выбирать различные картины, например, старинные фрески или же современные варианты.</p>
									<blockquote>Использование сложных потолков имеет и функциональное назначение - разделение помещения на отдельные зоны.</blockquote>
									<p>Такие потолки выглядят наиболее изысканно. Сводчатые конструкции более сложные, поскольку требуют монтажа колонны посреди комнаты. Она является важным элементом крепления всего потолка. Несмотря на то, что обустройство такого натяжного потолка выльется в серьезные расходы, результат того стоит: интерьер будет выглядеть просто роскошно.</p>
									<img src="img/article.jpg" alt="">
									<h3>Волнообразные потолки</h3>
									<p>Такие потолки также выглядят очень эффектно. Для их обустройства требуется монтаж особого каркаса. Для него используются особенные, гнущиеся, багеты. Проблематично монтировать такие потолки в помещениях с арками и колоннами. Лучше всего такие конструкции использовать для просторных помещений из-за больших габаритов полотна.</p>
									<img src="img/article.jpg" alt="">
									<p>Куполообразный потолок несколько проще, поскольку не требует монтажа колонны. Но для него есть важное условие: помещение должно быть достаточно высоким (не меньше 3 м). Лучше всего для таких потолков использовать полотна с фотопечатью. Для изображения можно выбирать различные картины, например, старинные фрески или же современные варианты.</p>
								</div>
							</div>

							<!-- Aside -->
							<aside class="aside">
								<div class="aside-block">
									<p class="aside-block__title">облако тегов</p>
									<ul class="tags-list">
										<li><a href="#">натяжной потолок</a></li>
										<li><a href="#">звездное небо</a></li>
										<li><a href="#">потолки киев</a></li>
										<li><a href="#">необычные натяжные потолки</a></li>
									</ul>
								</div>

								<div class="aside-block">
									<h2 class="aside-block__title">другие статьи по теме</h2>

									<div class="aside-articles">
										<article class="aside-article">
											<h3 class="aside-article__title"><a href="page-article.html">Различные направления в оформлении потолков. Часть 1</a></h3>
											<p>Далеко-далеко за, словесными горами в стране, гласных и согласных живут рыбные тексты. Одна коварный, лучше. Текстами правилами по всей заголовок рот коварный семантика.</p>
										</article>

										<article class="aside-article">
											<h3 class="aside-article__title"><a href="page-article.html">Различные направления в оформлении потолков. Часть 1</a></h3>
											<p>Далеко-далеко за, словесными горами в стране, гласных и согласных живут рыбные тексты. Одна коварный, лучше. Текстами правилами по всей заголовок рот коварный семантика.</p>
										</article>

										<article class="aside-article">
											<h3 class="aside-article__title"><a href="page-article.html">Различные направления в оформлении потолков. Часть 1</a></h3>
											<p>Далеко-далеко за, словесными горами в стране, гласных и согласных живут рыбные тексты. Одна коварный, лучше. Текстами правилами по всей заголовок рот коварный семантика.</p>
										</article>
									</div>

									<a href="page-blog.html" class="btn"><span data-text="Все новости и статьи">Все новости и статьи</span></a>
								</div>
							</aside>
							<!-- //Aside -->

						</div>
					</article>
				</div>
				<!-- //container -->

			</section>




			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>