{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-about" id="home">


			

			<section class="sect__product-promo sect__page-promo">

				<div class="page-promo color-bg decor-bg">

					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">

							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item"> 
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> 
										<a href="index.html" class="breadcrumbs__link" title="На главную"> 
											<span itemprop="name">Главная</span> 
										</a>
										<meta itemprop="position" content="1"> 
									</span>
								</li>
								<li class="breadcrumbs__item"> 
									<span class="breadcrumbs__link is-active"> 
										<span itemprop="name">О компании</span>
										<meta itemprop="position" content="2"> 
									</span>
								</li>
							</ul>
						</nav>
						<!-- Breadcrumbs -->

						<div class="page-promo-content">

							<h1 class="title">о компании “экополис”</h1>
							<div class="page-promo__img">
								<img src="img/about.jpg" alt="">
							</div>

						</div>

					</div>
					<!-- //container -->
				</div>
			</section>


			<section class="sect__about-company gutters">
				<div class="container">
					<article class="page-article">
						<div class="row align-vertical-start align-horisontal-between page-article__row row-nowrap">

							<div class="page-article-content">
								<div class="content">
									<p><b>Компания "Экополис" представляет к Вашему вниманию самый лучший и полный ассортимент товара, высокое качество и приемлемые цены на установку натяжных потолков в городе Киеве и Киевской области.</b></p>
									<h2>мы - команда профессионалов с опытом работы<br>более 15 лет</h2>
									<p>У нас вы можете купить натяжной потолок, выполненной в любом цвете или фактуре. Даже наиболее взыскательный Клиент сможет сделать правильный выбор. У нас можно выбрать лаковые натяжные потолки, глянцевые, матовые, звездное небо, натяжные потолки Clipso и пр. Специалисты компании "Экополис" помогу Вам создать неповторимый и оригинальный интерьер. Если Заказчик ограничен определенными финансовыми рамками, то наши квалифицированные консультанты бесплатно помогут выбрать отличный вариант в подходящей ценовой категории. В итоге, заказ натяжных потолков у нас доступен для каждого. Натяжные потолки любой ценовой категории сертифицированы и находятся в полном соответствии с общепринятыми критериями качества.</p>
									<p>Внешний вид матового натяжного потолка напоминает гипсокартон, который покрыли водоэмуль сионной краской. Благодаря матовому покрытию можно эффективно скрыть всевозможные недостатки основного потолка (трещины, неровности). Внешний вид матового натяжного потолка напоминает гипсокартон, который покрыли водоэмульсионной краской.</p>
									<img src="img/about-us-content.jpg" alt="">
									<h2>лучшие акции и скидки для вас</h2>
									<p>Компания «Экополис» ориентирована на лояльность клиентов – поэтому мы предлагаем:</p>
									<ul>
										<li>различные акции и скидки;</li>
										<li>заказ в кредит без справки о доходах;</li>
										<li>скидки для дизайнеров и архитекторов;</li>
										<li>специальные условия сотрудничества партнерам.</li>
									</ul>
									<h2>работаем для вас в любое время</h2>
									<p>Монтажные бригады компании "Экополис" могут работать в любое время. Клиент может заказать натяжные потолки на праздники, выходные и при этом мы не увеличиваем стоимость услуг.<br>Натяжные потолки от компании "Экополис"  – это показатель престижа современного интерьера и хорошего вкуса его владельцев.</p>
									
								</div>
							</div>

							<!-- Aside -->
							<aside class="aside text-right aside-page-links">
								{% include '../parts/components/aside/promo.html' %}
								{% include '../parts/components/aside/prices.html' %}
								{% include '../parts/components/aside/credit.html' %}
							</aside>
							<!-- //Aside -->

						</div>
					</article>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__product-advantages gutters color-bg decor-bg" >
				<h2 class="title text-center container">преимущества наших потолков</h2>

				<div class="container">
					<div class="product-advantages">
						<div class="row align-horisontal-start row-gutters product-advantages__row">
							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_1.svg');"></span>
									<h3 class="product-advantage__title">лучший ассортимент</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_2.svg');"></span>
									<h3 class="product-advantage__title">высокое качество</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_3.svg');"></span>
									<h3 class="product-advantage__title">приемлемые цены</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_4.svg');"></span>
									<h3 class="product-advantage__title">свобода творчества</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_5.svg');"></span>
									<h3 class="product-advantage__title">акции и скидки</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_6.svg');"></span>
									<h3 class="product-advantage__title">гарантия долгой службы</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>


			<section class="sect__seo gutters gutter-include-form">
				<div class="container">
					<div class="content">
						<h2>у нас есть потолки на любой вкус и кошелек</h2>
						<p>Компания "Экополис" предлагает натяжные потолки различных ценовых сегментов:</p>
						<ul>
							<li>NORMAL – эконом класс по минимальной цене;</li>
							<li>OPTIMA – идеальное соотношение цены и качества;</li>
							<li>LUX – премиальность и эксклюзивность Вашего интерьера.</li>
						</ul>
						<p>Арт и фото печать, звездное небо – возможность создания индивидуального интерьера с рисунком, фотографией и собственного неба с мерцающими звездами в вашей квартире. Французские бесшовные натяжные потолки по цене не очень дорогие. Цена зависит от множества факторов. Например, от площади и сложности фигуры (четырехугольник считается самой простой). Более точную стоимость можно сказать после замера помещения и расчетов.<br>Вызов замерщика <b>бесплатно</b>.</p>
					</div>
				</div>
			</section>

			




			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>