{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-gutter page-inside page-template" id="home">
			<section class="page-content gutter-include-form">
				<div class="container">
					<!-- Breadcrumbs -->
					<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">

						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"> 
								<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> 
									<a href="index.html" class="breadcrumbs__link" title="На главную"> 
										<span itemprop="name">Главная</span> 
									</a>
									<meta itemprop="position" content="1"> 
								</span>
							</li>
							<li class="breadcrumbs__item"> 
								<span class="breadcrumbs__link is-active"> 
									<span itemprop="name">акции и скидки</span>
									<meta itemprop="position" content="3"> 
								</span>
							</li>
						</ul>
					</nav>
					<!-- Breadcrumbs -->

					<header class="page-header bg" style="background-image: url('img/backgrounds/promo.jpg');">
						<h1 class="title">Натяжные потолки под ключ на всю квартиру</h1>
					</header>

					<article class="page-article">
						<div class="row align-vertical-start align-horisontal-between page-article__row row-nowrap">

							<div class="page-article-content">
								<div class="content">
									<h2>акция от компании “экополис” - натяжные<br>потолки под ключ на всю квартиру</h2>
									<p>Если Вы планируете установить натяжные потолки во всей квартире, офисе или загородном доме, мы сделаем Вам хорошую скидку!</p>
									<p><b>Мы не ограничиваем Вас метражом помещения от …   до … .<br>Мы не дарим ненужные подарки за покупку.</b></p>

								</div>

								<div class="promos-block">
									<p class="promos-block__notice">Мы реально экономим Ваши деньги</p>
									<div class="promos">

										<div class="promo-item">
											<h2 class="promo-item__title">однокомнатная квартира</h2>
											<div class="row horisontal-between  promo-item__row">
												<div class="promo-item__img">
													<img src="img/promos/promo-1.png" alt="">
												</div>
												<div class="promo-item__content content">
													<p>Специальная цена на натяжной потолок<br><b style="color: #e6936a">170 грн/м2</b> включает:</p>
													<ul>
														<li>изготовление полотен</li>
														<li>монтаж натяжных потолков (коридор, комната, кухня, санузел)</li>
														<li>профиль</li>
														<li>16 углов</li>
														<li>одно крепление для люстры на каждый потолок</li>
													</ul>
													<p><b>Цена без скидки - 225 грн/м2</b></p>
													<p><b style="color:#016faf">Ощутите реальную экономию!</b></p>
												</div>
											</div>
										</div>

										<div class="promo-item">
											<h2 class="promo-item__title">двухкомнатная квартира</h2>
											<div class="row horisontal-between  promo-item__row">
												<div class="promo-item__img">
													<img src="img/promos/promo-2.png" alt="">
												</div>
												<div class="promo-item__content content">
													<p>Специальная цена на натяжной потолок<br><b style="color: #e6936a">165 грн/м2</b> включает:</p>
													<ul>
														<li>изготовление полотен</li>
														<li>монтаж натяжных потолков (коридор, 2 комнаты, кухня, санузел)</li>
														<li>профиль</li>
														<li>20 углов</li>
														<li>одно крепление для люстры на каждый потолок</li>
													</ul>
													<p><b>Цена без скидки - 220 грн/м2</b></p>
													<p><b style="color:#016faf">Ощутите реальную экономию!</b></p>
												</div>
											</div>
										</div>

										<div class="promo-item">
											<h2 class="promo-item__title">трехкомнатная квартира</h2>
											<div class="row horisontal-between promo-item__row">
												<div class="promo-item__img">
													<img src="img/promos/promo-3.png" alt="">
												</div>
												<div class="promo-item__content content">
													<p>Специальная цена на натяжной потолок<br><b style="color: #e6936a">160 грн/м2</b> включает:</p>
													<ul>
														<li>изготовление полотен</li>
														<li>монтаж натяжных потолков (коридор, 3 комнаты, кухня, санузел)</li>
														<li>профиль</li>
														<li>28 углов</li>
														<li>одно крепление для люстры на каждый потолок</li>
													</ul>
													<p><b>Цена без скидки - 215 грн/м2</b></p>
													<p><b style="color:#016faf">Ощутите реальную экономию!</b></p>
												</div>
											</div>
										</div>

										<div class="promo-item">
											<h2 class="promo-item__title">частный дом или загородный коттедж</h2>
											<div class="row horisontal-between  promo-item__row">
												<div class="promo-item__img">
													<img src="img/promos/promo-2.png" alt="">
												</div>
												<div class="promo-item__content content">
													<p>Специальная цена на натяжной потолок<br><b style="color: #e6936a">155 грн/м2</b> включает:</p>
													<ul>
														<li>изготовление полотен</li>
														<li>монтаж натяжных потолков (2 коридора, 3 комнаты, кухня, 2 санузла)</li>
														<li>профиль</li>
														<li>40 углов</li>
														<li>одно крепление для люстры на каждый потолок</li>
													</ul>
													<p><b>Цена без скидки - 210 грн/м2</b></p>
													<p><b style="color:#016faf">Ощутите реальную экономию!</b></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Aside -->
							<aside class="aside text-right aside-page-links">
								{% include '../parts/components/aside/credit.html' %}
								{% include '../parts/components/aside/prices.html' %}
							</aside>
							<!-- //Aside -->

						</div>
					</article>
				</div>
				<!-- //container -->

			</section>




			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>