{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-product" id="home">


			

			<section class="sect__product-promo sect__page-promo">

				<div class="page-promo color-bg decor-bg">

					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">

							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item"> 
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> 
										<a href="index.html" class="breadcrumbs__link" title="На главную"> 
											<span itemprop="name">Главная</span> 
										</a>
										<meta itemprop="position" content="1"> 
									</span>
								</li>
								<li class="breadcrumbs__item"> 
									<span class="breadcrumbs__link is-active"> 
										<span itemprop="name">натяжные потолки</span>
										<meta itemprop="position" content="2"> 
									</span>
								</li>
							</ul>
						</nav>
						<!-- Breadcrumbs -->

						<div class="page-promo-content">

							<h1 class="text-center  title">Натяжные потолки</h1>
							<div class="page-promo__img">
								<img src="img/img.jpg" alt="">
							</div>

							<div class="product-promo-advantages">
								<div class="row align-horisontal-start align-vertical-center row-gutters product-promo-advantages__row">
									<div class="col-w-25 product-promo-advantage__wrapper col-gutters">
										<div class="product-promo-advantage">
											<span class="product-promo-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features_1.svg');"></span>
											<p>Долгий срок службы и высокая надежность</p>
										</div>
									</div>

									<div class="col-w-25 product-promo-advantage__wrapper col-gutters">
										<div class="product-promo-advantage">
											<span class="product-promo-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features_2.svg');"></span>
											<p>Скрывают все дефекты основного потолка</p>
										</div>
									</div>

									<div class="col-w-25 product-promo-advantage__wrapper col-gutters">
										<div class="product-promo-advantage">
											<span class="product-promo-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features_3.svg');"></span>
											<p>Выдерживают большие объемы воды (до 100 л)</p>
										</div>
									</div>

									<div class="col-w-25 product-promo-advantage__wrapper col-gutters">
										<div class="product-promo-advantage">
											<span class="product-promo-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features_4.svg');"></span>
											<p>Являются безопасными для всех домочадцев</p>
										</div>
									</div>
								</div>
							</div>

							<div class="hidden-desktop visible-pre-tablet text-center product-order-btn">
								<button class="btn js-open-order-popup-btn" type="button " data-product-title="Натяжные потолки"><span data-text="Заказать">Заказать</span></button>
							</div>

						</div>

					</div>
					<!-- //container -->
				</div>
				
				<div class="product-nav__wrapper js-fixed-nav-panel">
					<div class="container">
						<div class="row align-vertical-center align-horisontal-between product-nav__row">
							<div class="product-nav">
								<ul>
									<li><a href="#description" rel="nofollow">описание</a></li>
									<li><a href="#advantages" rel="nofollow">преимущества</a></li>
									<li><a href="#photoPringing" rel="nofollow">фотопечать</a></li>
									<li><a href="#productColors" rel="nofollow">палитра цветов</a></li>
									<li><a href="#faq" rel="nofollow">вопрос-ответ</a></li>
									<li><a href="#portfolio" rel="nofollow">примеры работ</a></li>
								</ul>
							</div>
							<div class="product-price__col">
								<button class="btn js-open-order-popup-btn" type="button " data-product-title="Натяжные потолки"><span data-text="Заказать">Заказать</span></button>
							</div>
						</div>
					</div>
				</div>
			</section>

			



			<section class="sect__product-description gutters js-section" id="description">
				<h2 class="title text-center container title-with-text">описание</h2>
				<p class="text-center container sect-text">У нас Вы можете заказать натяжной потолок любой группы. Прежде чем заказать натяжной потолок, следует выбрать подходящий материал, фактуру и цвет. Потолки натяжные отличаются фактурой материала, что позволяет создать определенную классификацию потолков, разделив их на группы.</p>

				<div class="container">
					<div class="description-block">

						<div class="content">
							<h2>матовые натяжные потолки</h2>
							<p>Этот вариант имеет абсолютно ровную и матовую поверхность. Благодаря матовому покрытию можно эффективно скрыть всевозможные недостатки основного потолка (трещины, неровности). Внешний вид матового натяжного потолка напоминает гипсокартон, который покрыли водоэмульсионной краской. Если Клиент желает что-нибудь особенно интересное, то можно матовый натяжной потолок заказать с добавлением эффекта искрящегося снега. Матовый натяжной потолок класса LUX дает именно такую визуальную особенность.</p>
						</div>

						<div class="thumbnail description-block__img"><img src="img/product/1.jpg" alt=""></div>
					</div>

					<div class="description-block">

						<div class="content">
							<h2>лаковые натяжные потолки</h2>
							<p>Натяжной потолок данной группы отличается блеском и зеркальным эффектом. Компания "Экополис" может предложить к продаже 3 типа лаковых натяжных потолков: LUX, OPTIMA, NORMAL. Сила отражения глянцевой пленки зависит от класса. К примеру, наибольший блеск и зеркальный эффект создает глянцевый потолок класса LUX. Кроме того, зеркальный потолок самого высокого класса выполнен так, что сварные швы практически не видны. А материалы класса OPTIMA имеют свои преимущества: материалы данного класса представлены в ширине 180 и 320 см, а это создает возможность изготавливать глянцевый потолок шириной до 360 см без сварного шва!</p>
						</div>

						<div class="thumbnail description-block__img"><img src="img/product/2.jpg" alt=""></div>
					</div>

					<div class="description-block">
						
						<div class="content">
							<h2>сатиновые натяжные потолки</h2>
							<p>Эта группа натяжных потолков имеет необычайно гладкую поверхность с матовым покрытием. Этот вариант является отличной основой для установки систем звездного неба Swarovski. К тому же, сатиновый натяжной потолок удобен для монтажа встроенных декоративных и точечных светильников.</p>
						</div>
						<div class="thumbnail description-block__img"><img src="img/product/3.jpg" alt=""></div>
					</div>

					<div class="description-block">
						
						<div class="content">
							<h2>перламутр и металлик</h2>
							<p>Отличительная особенность этих потолков - уникальные металлизированные вкрапления, что идеально гармонирует с интерьером в современном стиле Hi-Tech. К какой бы группе потолки натяжные не относились - их свойства и все характеристики идентичны. Натяжные потолки всех типов поверхности отличаются прочностью, простотой в уходе и долгим сроком службы.</p>
						</div>
						<div class="thumbnail description-block__img"><img src="img/product/4.jpg" alt=""></div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__product-advantages gutters color-bg decor-bg js-section" id="advantages">
				<h2 class="title text-center container">преимущества</h2>

				<div class="container">
					<div class="product-advantages">
						<div class="row align-horisontal-start row-gutters product-advantages__row">
							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_1.svg');"></span>
									<h3 class="product-advantage__title">лучший ассортимент</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_2.svg');"></span>
									<h3 class="product-advantage__title">высокое качество</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_3.svg');"></span>
									<h3 class="product-advantage__title">приемлемые цены</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_4.svg');"></span>
									<h3 class="product-advantage__title">свобода творчества</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_5.svg');"></span>
									<h3 class="product-advantage__title">акции и скидки</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>

							<div class="col-w-33 col-gutters product-advantage__col">
								<div class="product-advantage">
									<span class="product-advantage__ic" style="background-image: url('img/icons/svg/product-advantages/product_features2_6.svg');"></span>
									<h3 class="product-advantage__title">гарантия долгой службы</h3>
									<p>Натяжные потолки давно уже стали одним из самых популярных приемов, используемых при отделке помещений различного назначения – от офисных до жилых.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__photo-printing gutters js-section" id="photoPringing">
				<h2 class="title text-center container">фотопечать</h2>
				<div class="container">
					<div class="photo-printing">
						<div class="row row-gutters photo-printing__row align-vertical-center">
							<img src="img/photo-1.jpg" alt="">
							<div class="content">
								<p>Неотъемлемым трендом в оформлении элитных домов и заведений стала фотопечать – фрагмент натяжного потолка с нанесением индивидуального изображения.</p>
								<p>Компания «Экополис» отслеживает самые актуальные мировые тенденции, чтобы предложить своим Клиентам создать уникальное оформление помещения в стиле лучших дизайнерских решений. </p>
								<p>Наша компания наносит любой рисунок на натяжные потолки методом экосольвентной печати. Фото для нанесения рисунка Вы можете выбрать из библиотеки, при этом нашим Клиентам не придется платить ни за приобретение, ни за обработку этих фотографий – компания «Экополис» предоставляет данную услугу Вам бесплатно. Кроме того, мы готовы напечатать фрагмент натяжного потолка и с фотографий Заказчика.</p>
							</div>
						</div>



						<div class="row row-gutters photo-printing__row align-vertical-center">
							<img src="img/photo-2.jpg" alt="">
							<div class="content">
								<p>Натяжные потолки с фотопечатью станут настоящей изюминкой Вашего интерьера, будут радовать Вас и удивлять гостей Вашего дома. При этом стоимость фотопечати на натяжных потолках вполне демократична – цена позволяет обновлять рисунок с завидной периодичностью.</p>
								<p>Фотопечать на натяжных потолках в основном используется для оформления детских комнат (мультипликационные герои, сказочные пейзажи), гостиных (виды природы, растения, урбанистические пейзажи), спален (цветы, облака). Потолки с фрагментарной фотопечатью подчеркнут стиль и престиж любого помещения - кафе, бутиков, салонов красоты и т.п. Область применения данной технологии практически не ограничена! При этом фотопечать наносится при помощи экологически безопасных, гипоаллергенных красок, которые отличаются стойкостью и сопротивляемостью УФ-излучению. Изображение неизменно получается ярким и создает эффект присутствия.</p>
							</div>
						</div>
					</div>

					<div class="photo-printing__materials">
						<div class="content text-center">
							<h3>Выбор материала для фотопечати</h3>
							<p>Фотопечать наносится на такие материалы - <b>белый лак</b>, <b>белый мат</b> и <b>Clipsoprint</b>. Как правило, изображение наносится на фрагмент натяжного потолка размер которого составляет от 1 до 1,5 м.кв. При выборе материала натяжного потолка для нанесения фотопечати, необходимо учитывать их некоторые особенности:</p>
						</div>

						<div class="row align-horisontal-start row-gutters">
							<div class="col-w-25 col-gutters photo-printing__material">
								<h4 class="photo-printing__material--title" data-counter="01">белый лак/белый мат</h4>
								<div class="content">
									<p><b>Белый лак</b> и <b>белый мат</b> имеют возможность монтажа/демонтажа натяжного потолка (гарпунная система крепежа), но при этом происходит растяжка рисунка на 7% при монтаже натяжного потолка и как следствие небольшая потеря четкости изображения.<br>Белый лак отличается глянцевой зеркальной поверхностью.</p>
								</div>
								
							</div>

							<div class="col-w-25 col-gutters photo-printing__material">
								<h4 class="photo-printing__material--title" data-counter="02">clipsoprint</h4>
								<div class="content">
									<p><b>Clipsoprint</b> дороже, чем лак и мат, но при этом он имеет более точную цветопередачу исходной фотографии и отсутствие деформации изображения при монтаже (нет 7% -й усадки полотна). Зато монтировать такой потолок можно только 1 раз (безгарпунная система крепежа).</p>
								</div>
								
							</div>

							<div class="col-w-25 col-gutters photo-printing__material">
								<h4 class="photo-printing__material--title" data-counter="03">ширина печати</h4>
								<div class="content">
									<p>Максимальная ширина печати на всех видах материалов – <b>до 3 метров</b> интерьерная печать, <b>до 5 метров</b>  - баннерная.</p>
								</div>
								
							</div>

							<div class="col-w-25 col-gutters photo-printing__material">
								<h4 class="photo-printing__material--title" data-counter="04">стоимость</h4>
								<div class="content">
									<p><b>Стоимость</b>: к стандартной стоимости выбранного материала натяжного потолка прибавляется стоимость нанесения рисунка  - 300 грн/м.кв. площади, которую занимает рисунок.  Ознакомиться со стоимостью потолка можно <a href="page-prices.html">здесь</a>.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>


			<!-- Section colors -->
			<section class="sect__product-colors color-bg gutters js-section" id="productColors">
				<h2 class="title text-center container">палитра цветов</h2>

				<div class="container">
					<div class="product-colors__switcher">
						<button class="btn-tab js-tab-btn" type="button">LAQ Lux</button>
						<button class="btn-tab js-tab-btn " type="button">LAQ бесшовный 540 см</button>
					<!-- 	<button class="btn-tab js-tab-btn " type="button">LAQ Normal</button>
						<button class="btn-tab js-tab-btn " type="button">MAT Lux</button>
						<button class="btn-tab js-tab-btn " type="button">SATIN</button>
						<button class="btn-tab js-tab-btn " type="button">MAT Normal</button>
						<button class="btn-tab js-tab-btn " type="button">Перламутр, металлик</button> -->
					</div>

					<div class="product-colors__contents">
						<div class="product-colors__content js-tab-content">
							<div class="content">
								<h3>laq lux</h3>
								<p>Пленка для натяжных потолков класса Lux обладает самым высоким коэффициентом отражения – 98%. Ширина материала – 150 см. Благодаря высокой однородности материала, швы на натяжном потолке из пленки класса <b>Lux</b> наименее заметны. Натяжные потолки из пленки класса Lux отвечают самым строгим санитарным нормам. Ознакомиться со стоимостью такого натяжного потолка можно <a href="page-prices.html">здесь</a>.﻿</p>
							</div>

							<div class="product-colors__content--imgs">
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-1.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-2.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-3.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="product-colors__content js-tab-content">
							<div class="content">
								<h3>LAQ бесшовный 540 см</h3>
								<p>Пленка для натяжных потолков класса Lux обладает самым высоким коэффициентом отражения – 98%. Ширина материала – 150 см. Благодаря высокой однородности материала, швы на натяжном потолке из пленки класса <b>Lux</b> наименее заметны. Натяжные потолки из пленки класса Lux отвечают самым строгим санитарным нормам. Ознакомиться со стоимостью такого натяжного потолка можно <a href="page-prices.html">здесь</a>.﻿</p>
								<p>Пленка для натяжных потолков класса Lux обладает самым высоким коэффициентом отражения – 98%. Ширина материала – 150 см. Благодаря высокой однородности материала, швы на натяжном потолке из пленки класса <b>Lux</b> наименее заметны. Натяжные потолки из пленки класса Lux отвечают самым строгим санитарным нормам. Ознакомиться со стоимостью такого натяжного потолка можно <a href="page-prices.html">здесь</a>.﻿</p>
							</div>

							<div class="product-colors__content--imgs">
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-1.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-2.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="product-colors__content js-tab-content">
							<div class="content">
								<h3>LAQ Normal</h3>
								<p>Пленка для натяжных потолков класса Lux обладает самым высоким коэффициентом отражения – 98%. Ширина материала – 150 см. Благодаря высокой однородности материала, швы на натяжном потолке из пленки класса <b>Lux</b> наименее заметны. Натяжные потолки из пленки класса Lux отвечают самым строгим санитарным нормам. Ознакомиться со стоимостью такого натяжного потолка можно <a href="page-prices.html">здесь</a>.﻿</p>
								<p>Пленка для натяжных потолков класса Lux обладает самым высоким коэффициентом отражения – 98%. Ширина материала – 150 см. Благодаря высокой однородности материала, швы на натяжном потолке из пленки класса <b>Lux</b> наименее заметны. Натяжные потолки из пленки класса Lux отвечают самым строгим санитарным нормам. Ознакомиться со стоимостью такого натяжного потолка можно <a href="page-prices.html">здесь</a>.﻿</p>
							</div>

							<div class="product-colors__content--imgs">
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-1.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="product-colors__content js-tab-content">
							<div class="content">
								<h3>MAT Lux</h3>
								<p>Пленка для натяжных потолков класса Lux обладает самым высоким коэффициентом отражения – 98%. Ширина материала – 150 см. Благодаря высокой однородности материала, швы на натяжном потолке из пленки класса <b>Lux</b> наименее заметны. Натяжные потолки из пленки класса Lux отвечают самым строгим санитарным нормам. Ознакомиться со стоимостью такого натяжного потолка можно <a href="page-prices.html">здесь</a>.﻿</p>
							</div>

							<div class="product-colors__content--imgs">
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-1.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-2.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-3.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="product-colors__content js-tab-content">
							<div class="content">
								<h3>SATIN</h3>
								<p>Пленка для натяжных потолков класса Lux обладает самым высоким коэффициентом отражения – 98%. Ширина материала – 150 см. Благодаря высокой однородности материала, швы на натяжном потолке из пленки класса <b>Lux</b> наименее заметны. Натяжные потолки из пленки класса Lux отвечают самым строгим санитарным нормам. Ознакомиться со стоимостью такого натяжного потолка можно <a href="page-prices.html">здесь</a>.﻿</p>
							</div>

							<div class="product-colors__content--imgs">
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-1.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-2.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-3.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-2.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-3.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="product-colors__content js-tab-content">
							<div class="content">
								<h3>MAT Normal</h3>
								<p>Пленка для натяжных потолков класса Lux обладает самым высоким коэффициентом отражения – 98%. Ширина материала – 150 см. Благодаря высокой однородности материала, швы на натяжном потолке из пленки класса <b>Lux</b> наименее заметны. Натяжные потолки из пленки класса Lux отвечают самым строгим санитарным нормам. Ознакомиться со стоимостью такого натяжного потолка можно <a href="page-prices.html">здесь</a>.﻿</p>
							</div>

							<div class="product-colors__content--imgs">
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-1.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-2.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-3.jpg" alt="">
								</div>
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-2.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="product-colors__content js-tab-content">
							<div class="content">
								<h3>Перламутр, металлик</h3>
								<p>Пленка для натяжных потолков класса Lux обладает самым высоким коэффициентом отражения – 98%. Ширина материала – 150 см. Благодаря высокой однородности материала, швы на натяжном потолке из пленки класса <b>Lux</b> наименее заметны. Натяжные потолки из пленки класса Lux отвечают самым строгим санитарным нормам. Ознакомиться со стоимостью такого натяжного потолка можно <a href="page-prices.html">здесь</a>.﻿</p>
							</div>

							<div class="product-colors__content--imgs">
								<div class="product-colors__content--imgs_col">
									<img src="img/colors-1.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- //Section colors -->

			<!-- Section faq -->
			<section class="sect__faq gutters js-section" id="faq">
				<h2 class="title text-center container">вопрос-ответ</h2>
				<div class="container">
					<div class="faqs">
						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>Какое время установки?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->

						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>Портится ли мебель и обои при монтаже?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->

						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>На какой стадии ремонта ставят натяжной потолок?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->

						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>Есть ли у нового потолка запах?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->

						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>Заметен ли шов на потолке?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->

						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>Что делать, если проткнуть (порвать) потолок?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->

						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>Что будет, если в потолок выстрелить пробкой при открывании шампанского?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->

						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>Что будет, если затопят соседи сверху?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->

						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>Какая гарантия?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->

						<!-- FAq item -->
						<div class="faq">
							<div class="faq__question">
								<h3>На сколько потолок опускается от существующего?</h3>
								<button class="btn-faq-toggle js-toggle-faq-answer-btn" type="button"></button>
							</div>
							<div class="faq__answer">
								<div class="content">
									<p>Если будет люстра или не будет никакого освещения – 3,5 см от нижней точки (3 см в случае использования универсального профиля). Если будет монтироваться галогеновый светильник – 5 – 6 см, если будет светильник под лампу накаливания – от 9 см (зависит от типа светильника)</p>
								</div>
							</div>
						</div>
						<!-- //FAq item -->
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section faq -->

			<!-- Section portfolio -->
			<section class="sect__portfolio gutters gutter-include-form color-bg js-section" id="portfolio">

				<h2 class="title text-center container">Примеры работ</h2>

				<div class="portfolio-slider slider">
					<div class="swiper-container js-portfolio-slider">
						<div class="swiper-wrapper">
							<!-- Slide -->
							<div class="swiper-slide">
								<div class="portfolio-card">
									<a href="img/portfolio/1.jpg" class="portfolio-card__img thumbnail fancy-link" data-fancybox="gallery" data-caption="Описание">
										<img src="img/portfolio/1.jpg" alt="">
									</a>
									<div class="portfolio-card__content">
										<p>Глянцевый натяжной потолок 12 м.кв. с обводом трубы, креплением для люстры и фотопечатью 2 м.кв.</p>
										<p class="portfolio-card__price">4080 uah</p>
									</div>

									<div class="slider-counter">
										<span class="slider-counter__current">01</span>
										<span class="slider-counter__total">/10</span>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="portfolio-card">
									<a href="img/portfolio/2.jpg" class="portfolio-card__img thumbnail fancy-link" data-fancybox="gallery" data-caption="Описание">
										<img src="img/portfolio/2.jpg" alt="">
									</a>
									<div class="portfolio-card__content">
										<p>Глянцевый натяжной потолок 12 м.кв. с обводом трубы, креплением для люстры и фотопечатью 2 м.кв.</p>
										<p class="portfolio-card__price">4080 uah</p>
									</div>

									<div class="slider-counter">
										<span class="slider-counter__current">03</span>
										<span class="slider-counter__total">/10</span>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="portfolio-card">
									<a href="img/portfolio/2.jpg" class="portfolio-card__img thumbnail fancy-link" data-fancybox="gallery" data-caption="Описание">
										<img src="img/portfolio/2.jpg" alt="">
									</a>
									<div class="portfolio-card__content">
										<p>Глянцевый натяжной потолок 12 м.кв. с обводом трубы, креплением для люстры и фотопечатью 2 м.кв.</p>
										<p class="portfolio-card__price">4080 uah</p>
									</div>

									<div class="slider-counter">
										<span class="slider-counter__current">03</span>
										<span class="slider-counter__total">/10</span>
									</div>
								</div>
							</div>
							<!-- //Slide -->
						</div>
					</div>

					<!-- Navigation -->
					<div class="slider-navigation">
						<button class="slider-navigation__btn js-portfolio-slider-nav-btn-prev" type="button"></button>
						<button class="slider-navigation__btn js-portfolio-slider-nav-btn-next" type="button"></button>
					</div>

					<!-- Pagination -->
					<div class="slider-pagination js-portfolio-slider-pagination"></div>
				</div>

			</section>
			<!-- //Section portfolio -->


			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->
		</main>
		<!-- //Main -->

		{% include '../parts/components/popups/order.html' %}

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>