<div class="menu fullscreen-popup js-menu">
	<div class="container">
		<div class="row  align-horisontal-between fullscreen-popup__row">
			<div class="fullscreen-popup__col menu__col col-w-50">
				<div class="contacts">
					<p class="address"><span>Адрес нашего шоу-рума:</span><br>Киев, ул. Киото, дом 3, офис 180</p>

					<ul class="phones">
						<li><a href="tel:+38 044 227 42 43" rel="nofollow">+38 044 227 42 43</a></li>
						<li><a href="tel:+38 067 509 16 79" rel="nofollow">+38 067 509 16 79</a></li>
						<li><a href="tel:+38 050 462 08 64" rel="nofollow">+38 050 462 08 64</a></li>
						<li><a href="tel:+38 063 334 99 22" rel="nofollow">+38 063 334 99 22</a></li>
					</ul>

					<a href="mailto:stelya2@gmail.com" class="mail-link">stelya2@gmail.com</a>


				</div>

				<div><button class="btn js-open-callback-btn" type="button"><span data-text="заказать звонок">заказать звонок</span></button>
				</div>

				{% include '../socials.html' %}
			</div>
			<!-- //col -->

			<div class="fullscreen-popup__col nav__col col-w-50">
				<nav class="nav">
					<ul >
						<li class="is-active"><a href="index.html">главная</a></li>
						<li class="menu-item-has-children">
							<a href="#">продукция</a>
							<ul class="sub-menu">
								<li><a href="page-product.html">натяжные потолки</a></li>
								<li><a href="page-product.html">clipso</a></li>
								<li><a href="page-product.html">звездное небо</a></li>
							</ul>
						</li>
						<li><a href="page-about.html">о нас</a></li>
						<li><a href="page-portfolio.html">портфолио</a></li>
						<li><a href="page-prices.html">цены</a></li>
						<li><a href="page-content.html">Акции</a></li>
						<li><a href="page-credit.html">кредит</a></li>
						<li><a href="page-blog.html">Блог</a></li>
						<li><a href="page-contacts.html">контакты</a></li>
					</ul>
				</nav>

				<nav class="nav-additional">
					<ul>
						<li><a href="page-content.html">политика конфиденциальности</a></li>
						<li><a href="page-content.html">условия использования</a></li>
					</ul>
				</nav>

			</div>
			<!-- //col -->
		</div>
	</div>
	<!-- //container -->
</div>