<!-- Popup -->
<div class="popup js-popup js-order-popup" >
	<div class="popup__overflow">
		<div class="popup__body">
			<button class="btn-close js-close-popup-btn" type="button"></button>
			<!-- Popup content-->
			<div class="popup__content">
				<p class="popup__title">оставьте заявку<br>на заказ</p>
				<form class="form simple-form">
					<!-- Hidden inputs -->
					<input type="hidden" name="project_name" value="">
					<input type="hidden" name="admin_email" value="email@email">
					<input type="hidden" name="page" value="Страница:">
					<input type="hidden" name="form_subject" value="">
					<!-- // Hidden inputs -->



					<div class="form-group ">
						<label  class="form-group__label">
							<input type="text" class="form-input js-required-input" name="name" autocomplete="off">
							<span class="form-group__label--text">Ваше имя*</span>
							<span class="form-group__error">Поле не заполнено</span>
						</label>
					</div>
					<!-- //group -->
					<div class="form-group ">
						<label  class="form-group__label">
							<input type="tel" class="form-input js-required-input" name="phone" autocomplete="off">
							<span class="form-group__label--text">Ваш телефон*</span>
							<span class="form-group__error">Поле не заполнено</span>
						</label>
					</div>
					<!-- //group -->
					<div class="form-group ">
						<label  class="form-group__label">
							<input type="text" class="form-input" name="comment" autocomplete="off">
							<span class="form-group__label--text">Ваш комментарий</span>
						</label>
					</div>
					<!-- //group -->
					<button class="btn" type="submit"><span data-text="отправить заявку">отправить заявку</span></button>


					<p class="form__notice text-center">Нажимая на кнопку, Вы соглашаетесь с <a href="page-content.html">Политикой конфиденциальности</a></p>

				</form>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->