<!-- Popup -->
<div class="popup js-popup popup-thanks js-thanks-popup">
	<div class="popup__overflow">
		<div class="popup__body">
			<button class="btn-close js-close-popup-btn" type="button"></button>
			<!-- Popup content-->
			<div class="popup__content">
				<img src="img/thanks.png" alt="">
				<p class="popup__title">спасибо! ваша заявка успешно принята</p>
				<p class="popup__text">В ближайшее время специалист нашей компании свяжется с вами</p>

			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->