<!-- Popup -->
<div class="popup js-popup popup-thanks js-thanks-subscribe-popup">
	<div class="popup__overflow">
		<div class="popup__body">
			<button class="btn-close js-close-popup-btn" type="button"></button>
			<!-- Popup content-->
			<div class="popup__content">
				<img src="img/thanks-sub.png" alt="">
				<p class="popup__title">спасибо за подписку!</p>
				<p class="popup__text">Теперь вы подписаны на новости компании и будете получать на почту свежую информацию об акциях и скидках</p>

			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->