.aside
	flex 1
	margin-left 80px
	width 100%
	max-width 520px
	&-block
		margin-bottom 60px
		&:last-child
			margin-bottom 0
			
		&__title
			text-transform uppercase
			font 24px $CMed
			color $dark-text-color
			margin-bottom 40px
			
	&-articles
		margin-bottom 30px
			
	&-article
		margin-bottom 30px
		font-size 16px
		&:last-child
			margin-bottom 0
			
		&__title
			text-transform uppercase
			font 18px $CMed
			margin-bottom 15px
			a
				color $dark-text-color
				&:hover
					color $secondary-color
					

	&-block-page
		border 1px solid rgba($secondary-color, .25)
		width 100%
		max-width 450px
		display inline-block
		text-align left
		padding 50px
		transition background-color .17s ease-in-out
		&:hover
			background-color rgba($secondary-color, .25)
		p
			margin-bottom 25px
		&__title
			text-transform uppercase
			letter-spacing 0.01em
			font 30px $CMed
			color $secondary-color
			
		&.prices-style
	
			.aside-block-page__title
				color $light-secondary-color
			.page-permalink
				color $light-secondary-color
				svg
					fill $light-secondary-color
			&:hover
				background-color rgba($light-secondary-color, .25)
				
		&.credit-style
			.aside-block-page__title
				color $accent-color
			.page-permalink
				color $accent-color
				svg
					fill $accent-color
			&:hover
				background-color rgba($light-secondary-color, .25)
			
				
