.header
	position absolute
	top 60px
	left 0
	width 100%
	z-index 15
	pointer-events none
	&-tools
		pointer-events auto
		width 75px
		display flex
		flex-direction column
		position fixed
		right 30px
		top 60px
		transition all .17s ease-in-out
		
		&.add-gutter
			margin-top 60px