.breadcrumbs
	margin-bottom 60px
	&__item
		display inline-block
		margin-right 26px
		position relative
		&:before
			pseudo()
			position absolute
			vertical-center()
			left 100%
			width 5px
			height 9px
			margin-left 12.5px
			background url('../img/icons/svg/crumbs_arrow.svg') no-repeat
		&:last-child
			margin-right 0
			&:before
				display none
	&__link
		display block
		font 12px $Bold
		color $dark-text-color
		text-transform uppercase
		letter-spacing 0.01em
		&.is-active
			color $accent-color