.callback
	background-color #f4f9fb
	
	.form
		max-width 540px
		
	.fullscreen-popup__col
		&:first-child
			padding-right 90px
		&:last-child
			padding-left 90px
	.phones
		text-align right
		
		a
			font 50px $Reg
		li
			width 100%