.nav
	li
		margin-bottom 40px
		backface-visibility hidden
		display flex
		align-items center
		justify-content flex-start
		flex-wrap wrap
		&:last-child
			margin-bottom 0
			
		&.is-active,
		&.current-menu-item
			> a
				opacity .5
				
		&.menu-item-has-children
			position relative
			
		
				
	a
		text-transform uppercase
		font 40px $Reg
		line-height 1
		color $basic-white-color
		&:hover
			opacity .5
		
	&-additional
		position absolute
		bottom 80px
		right 60px
		text-align right
		li
			margin-bottom 25px
			&:last-child
				margin-bottom 0
				
		a
			color $basic-white-color
			display inline-block
			line-height 1
			&:hover
				opacity .5
				
.nav
	.sub-menu
		width 100%
		display none
		padding-top 20px
		padding-left 50px
		a
			font 24px $Reg
		li
			margin-bottom 25px
			&:last-child
				margin-bottom 0