// Loader

.preloader
	display block
	position absolute
	position-center()
	z-index 1001
	perspective 500px

		
.ball-clip-rotate-pulse
	position relative
	width 30px
	height 30px
	> div 
		animation-fill-mode both
		position absolute
		top 0px
		left 0px
		border-radius 100%
		&:first-child
			background $secondary-color
			height 16px
			width 16px
			position absolute
			position-center()
			animation scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite
		&:last-child 
			position absolute
			border 2px solid $accent-color
			width 30px
			height 30px
			position absolute
			position-center()
			background transparent
			border 2px solid
			border-color $accent-color transparent $accent-color transparent
			animation rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite
			animation-duration 1s
			
@keyframes scale
	30% 
		transform translate(-50%, -50%) scale(0.3)
	100%
		transform translate(-50%, -50%) scale(1)
		
@keyframes rotate 
	0% 
		transform translate(-50%, -50%) rotate(0deg) scale(1)
		
	50%
		transform translate(-50%, -50%) rotate(180deg) scale(0.6)
		
	100%
		transform translate(-50%, -50%) rotate(360deg) scale(1)



.preloader

		
	&__wrapper
		position fixed
		top 0
		left 0
		width 100%
		height 100%
		z-index 1000
	&__section
		position fixed
		top 0
		width 51%
		height 100%
		background-color $basic-white-color
		z-index 1000
		transform translateX(0)
		&--left
			left 0
		&--right
			right 0
			



.is-loaded

	.preloader
		opacity 0
		transition all 0.3s ease-out
		&__wrapper
			visibility hidden
			transition all 0.3s 1s ease-out
		&__section
			&--left
				transform translateY(-100%)
				transition all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000)
			&--right
				transform translateY(100%)
				transition all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000)