<header class="header">
	<div class="container">
		<div class="row align-vertical-start header__row align-horisontal-between">
			<a href="index.html" class="logo" title="На главную">
				<img src="img/logo.png" alt="">
			</a>

			<div class="header-tools">

				<button type="button" class="btn-hamburger js-open-menu-btn" title="Открыть меню">
					<span class="btn-hamburger__line"></span>
					<span class="btn-hamburger__line"></span>
				</button>

				<button class="btn-callback" type="button" title="Заказать обратный звонок"></button>

				<ul class="languages">
					<li class="lang-item current-lang lang-item-first">
						<a href="#">ru</a>
					</li>
					<li class="lang-item">
						<a href="#">ua</a>
					</li>
				</ul>

			</div>
		</div>
	</div>

</header>
