.disable-hover,
.disable-hover * 
	pointer-events none !important

.gutters
	padding $gutters
	
.gutter
	&-top
		padding-top $gutter-top
	&-bottom
		padding-bottom $gutter-bottom
		
	&-include-form
		padding-bottom 265px
	
.w3c
	visibility hidden
	display none
	
.content__wrapper
	overflow hidden
	width 100%
	height 100%

.sect-title
	font 2em $Bold
	margin-bottom 40px
	
.title
	text-transform uppercase
	font-family $CMed
	font-size 50px
	color $dark-text-color
	margin-bottom 60px
	line-height 1.25
	span
		display block
	


.upper-title
	text-transform uppercase
	color $accent-color
	letter-spacing 0.01em
	font 14px $Bold
	margin-bottom 35px
	
.title-with-text
	margin-bottom 40px
	
.sect-text
	max-width 1200px
	margin-bottom 40px
		
.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right
	
.basic-white-color
	color $basic-white-color

.basic-black-color
	color $basic-black-color
	
.light-text-color
	color $light-text-color
	
.dark-text-color
	color $dark-text-color
	
.accent-color
	color $accent-color
	
.content-img
	display block
	margin 0 auto
	max-width 100%
	max-height 100%
	width auto
	height auto
	
.bg
	bg(50%, 50%)
	
.bg-with-overlay
	position relative
	bg(50%, 50%)
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($bg-overlay-color, $bg-overlay-opacity)
	.container
		position relative
		z-index 2
		
.color-bg
	background-color $color-bg
	
.decor-bg
	position relative
	&:before,
	&:after
		pseudo()
		position absolute
		background-position 50% 50%
		background-repeat no-repeat
		background-size contain
		
	&:before
		top 0
		right 0
		width 565px
		height 540px
		background-image url('../img/backgrounds/decor/top.png')
	&:after
		bottom 0
		left 0
		width 800px
		height 336px
		background-image url('../img/backgrounds/decor/bottom.png')
	
	.container
		position relative
		z-index 1
	
.visually-hidden
	position absolute
	clip rect(0 0 0 0)
	width 1px
	height 1px
	margin -1px
	z-index -999
	opacity 0
	visiiblity hidden
	
.thumbnail
	position relative
	overflow hidden
	width 100%
	padding-top 50%
	img
		display block
		position absolute
		position-center()
		width 100%
		height 100%
		object-fit cover
	

.content
	*
		&:first-child
			margin-top 0
		&:last-child
			margin-bottom 0
			
	h2,h3,h3,h4,h5,h6
		line-height 1
		font-family $CMed
		text-transform uppercase
		color $dark-text-color
		
	h2
		font-size 30px
		margin-bottom 30px
		
	h3
		font-size 24px
		margin-bottom 25px
		
	a
		color $secondary-color
		&:hover
			text-decoration underline
			
	img
		display block
		width 100%
		margin-bottom 40px
		
	blockquote
		background-color $color-bg
		padding 35px
		display block
		margin-bottom 40px
		font 24px $Med
		
	strong, b
		font-family $Bold
		

	ul, ol
		margin-bottom 40px
		padding-left 30px
		li
			display block
			position relative
			margin-bottom 20px
			
			
			&:last-child
				margin-bottom 0
				
	ul
		li
			&:before
				pseudo()
				vertical-align middle
				width 8px
				height 8px
				border-radius 50%
				background-color $secondary-color
				margin-right 18px
				
	ol
		counter-reset list
		li
			&:before
				counter-increment list
				content counter(list) ". "
				display inline-block
				margin-right 4px
				color $secondary-color
				font-family $Bold
				
				
	p
		margin-bottom 40px
		line-height 30px
		
	table
		width 100%
		border-collapse collapse
		margin-bottom 40px
		tr
			&:nth-child(odd)
				background-color #e3f1f6
			&:nth-child(even)
				background-color #f1f8fa
		td
			width 50%
			padding 20px
		
.hidden-desktop
	display none
	
.page-gutter
	padding-top 165px
	
.page-inside
	.sect__contacts
		background-color $color-bg
				