//  Fonts 
$Reg = 'Gilroy-Regular', Arial, sans-serif
$CReg = 'CeraPro-Regular', Arial, sans-serif
$Med = 'Gilroy-Medium', Arial, sans-serif
$CMed = 'CeraPro-Medium', Arial, sans-serif
$Bold = 'Gilroy-Bold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Reg
$body-font-size = 18px
$body-line-height = 30px

// Sizes
$container-width = 1500px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 120px 0
$gutter-top = 120px
$gutter-bottom = 120px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #e6936a
$secondary-color = #016faf
$light-secondary-color = #93bec9
$text-color = rgba(#0b0b0d, .8)
$light-text-color = rgba(#0b0b0d, .5)
$dark-text-color = #0b0b0d

$accent-hover-color = #eaa380
$secondary-hover-color = #2784bb

$basic-white-color = #fff
$basic-black-color = #000

$input-border-color = #dbdbdb

$error-color = #C05959
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #a2a2a2
$footer-bg = #002f6e

$color-bg = #e3f1f6

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #016faf
$popup-overlay-opacity = .75
$popup-body-bg = #f4f9fb
// ========== ========== ========== ========== ==========