.portfolio-works__row
	margin-left -75px
	margin-right -75px
	
.portfolio-work
	&__img
		padding-top 75%
		margin-bottom 30px
	&__title
		font-size 18px

		
	.portfolio-card__price
		margin-top 20px
	&__wrapper
		padding 0 75px 30px 75px
		