.page-about
	.sect__contacts
		background-color $color-bg
		
	.page-promo
		padding-bottom 0
		
		&__img
			margin-bottom 0
			position relative
			z-index 2
			
.sect__about-company
	background-color $basic-white-color
	margin-top -120px
	padding-top 175px
	position relative
		

.sect__seo
	.content
		max-width 870px